<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de Bicicletas</title>
  <!-- Css -->
  <link rel="stylesheet" href="/static/css/general-styles.css"> 
  <link rel="stylesheet" href="/static/css/text-styles.css">
  {% block additional_css %}{% endblock %}
  
  <!-- JavaScript  -->
  <script src="/static/js/main.js" defer></script>
  {% block additional_js %}{% endblock %}

  <!-- Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
  <!-- Google Fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
</head>
<body>
  {% if include_menu is not defined or include_menu %}
      {% include "menu_template.html" %}
  {% endif %}

    <div id="content">
        {% block main_content %}{% endblock %}
    </div>

    {% include "footer_template.html" %}
   
</body>
</html>
