
{% extends "base.html" %}

  <!-- Css -->
  {% block additional_css %}
    <link rel="stylesheet" href="/static/css/cita-styles.css">
  {% endblock %}
  <!-- JavaScript  -->
  {% block additional_js %}
    <script src="/static/js/login.js" defer></script>
  {% endblock %}
 
  <!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
  {% block main_content %}
  <main class="main">

    <div class="container-text">
      <div class="container-text">
        <h1 class="h1-text">Pedir Cita en el Taller</h1>

        <section class="section-text">
          <h2 class="h2-text">Solicita una Cita</h2>
          <article class="article-text">
            <h3 class="h3-text">Programa tu Cita en el Taller</h3>
            <p class="p-text">En nuestro taller, ofrecemos servicios de reparación y personalización de bicicletas. Si
              necesitas asistencia con tu bicicleta, no dudes en programar una cita con nuestros técnicos expertos.</p>
          </article>

          <article class="article-text">
            <h3 class="h3-text">Completa el Formulario</h3>
            <p class="p-text">Por favor, completa el formulario a continuación para solicitar una cita en nuestro
              taller. Nuestro equipo se pondrá en contacto contigo para confirmar la fecha y la hora de tu cita.
              ¡Esperamos verte pronto!</p>
          </article>

          <form class="form-card" action="https://formspree.io/f/meqbvwoo" method="post">
            <div class="form-group">
              <label for="nombre" class="form-label">Nombre Completo:</label>
              <input class="form-input" type="text" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
              <label for="telefono" class="form-label">Teléfono de Contacto:</label>
              <input class="form-input" type="tel" id="telefono" name="telefono" required>
            </div>

            <div class="form-group">
              <label for="email" class="form-label">Correo Electrónico:</label>
              <input class="form-input" type="email" id="email" name="email" required onkeyup="validarUserEmail('email', 'mensajeCita', 'form-btn')">
            </div>
            <div id="mensajeAlerta"></div>

            <div class="form-group">
              <label for="bicicleta" class="form-label">Modelo de Bicicleta:</label>
              <input class="form-input" type="text" id="bicicleta" name="bicicleta" required>
            </div>

            <div class="form-group">
              <label for="descripcion" class="form-label">Descripción del Problema:</label>
              <textarea class="form-input form-textarea" id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>

            <div class="form-group">
              <label for="fecha" class="form-label">Día (Lunes a Sábado):</label>
              <input class="form-input" type="date" id="fecha" name="fecha" required>
            </div>
            
            
            

            <div class="form-group">
              <label for="hora" class="form-label">Hora (9:00 - 17:00):</label>
              <input class="form-input" type="time" id="hora" name="hora" required list="listalimitestiempo" value="09:00">
              <datalist id="listalimitestiempo">
                <option value="09:00">
                <option value="10:00">
                <option value="11:00">
                <option value="12:00">
                <option value="13:00">
                <option value="14:00">
                <option value="15:00">
                <option value="16:00">
                <option value="17:00">
              </datalist>
            </div>
            
            <!-- se cambio a type button para que no envie el form -->
            <button disabled type="submit" class="btn-disabled continueButton" id="form-btn">Enviar Solicitud de Cita</button>
          </form>
        </section>
      </div>

    </div>

  </main>


  <!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->
{% endblock %}
  
</html>