<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codo A Codo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">EDITAR MIS DATOS PERSONALES</h1>

        <div class="row" id="tablaUsuarios">
           <!--aca deberían agregarse usuarios en columna
        </div>

        <!-- Modal para editar usuario -->
        <div class="modal fade" id="modificarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- campos de edición -->
                        <form id="formEditarUsuario">
                            <input type="hidden" id="id_mod">
                            <label for="nombre_mod">Nombre:</label>
                            <input type="text" id="nombre_mod" class="form-control mb-2">
                            <label for="apellido_mod">Apellido:</label>
                            <input type="text" id="apellido_mod" class="form-control mb-2">
                            <label for="passwordModificar">Contraseña:</label>
                            <input type="password" id="passwordModificar" class="form-control mb-2">
                            <label for="emailModificar">Email:</label>
                            <input type="email" id="emailModificar" class="form-control mb-2">
                            <label for="telefono_mod">Teléfono:</label>
                            <input type="tel" id="telefono_mod" class="form-control mb-2">
                            <label for="rol_mod">Rol:</label>
                            <input type="text" id="rol_mod" class="form-control mb-2">
                            <button type="button" class="btn btn-primary" onclick="guardarCambios()">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <script>
        const URL = "http://127.0.0.1:5000/";

        //  solicitud GET al servidor para obtener todos los usuarios
        fetch(URL + 'usuarios')
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    // Manejar el error de respuesta del servidor
                    console.error('Error al obtener usuario:', response.status);
                    // Mostrar un mensaje de error al usuario
                    alert('Usuario no encontrado. Intenta nuevamente.');
                }
            })
            .then(function (data) {
            let contenedorUsuarios = document.getElementById('tablaUsuarios');

            // Iteramos sobre los usuarios y agregamos columnas al contenedor
            for (let usuario of data.usuarios) {
                let columna = document.createElement('div');
                columna.classList.add('col-md-4', 'mb-4');

                columna.innerHTML =
                    `<div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: ${usuario.nombre}</h5>
                            <p class="card-text">ID: ${usuario.id}</p>
                            <p class="card-text">Apellido: ${usuario.apellido}</p>
                            <p class="card-text">Password: ${usuario.password}</p>
                            <p class="card-text">Email: ${usuario.email}</p>
                            <p class="card-text">Teléfono: ${usuario.telefono}</p>
                            <p class="card-text">Rol: ${usuario.id_rol}</p>
                            <a href='#' data-bs-toggle='modal' data-bs-target='#modificarUsuario' onclick='cargarDatosModal(${JSON.stringify(usuario)})' class='btn btn-primary'><i class='bi bi-pencil-fill m-1'></i> Editar</a>
                        </div>
                    </div>`;

                contenedorUsuarios.appendChild(columna);
            }
        });
        // Función para cargar datos en el modal
        function cargarDatosModal(usuario) {
            document.getElementById('id_mod').value = usuario.id;
            document.getElementById('nombre_mod').value = usuario.nombre;
            document.getElementById('apellido_mod').value = usuario.apellido;
            document.getElementById('passwordModificar').value = usuario.password;
            document.getElementById('emailModificar').value = usuario.email;
            document.getElementById('telefono_mod').value = usuario.telefono;
            document.getElementById('rol_mod').value = usuario.id_rol;
        }

        function guardarCambios() {
            const id = document.getElementById('id_mod').value;
            const nuevoNombre = document.getElementById('nombre_mod').value;
            const nuevoApellido = document.getElementById('apellido_mod').value;
            const nuevaContraseña = document.getElementById('passwordModificar').value;
            const nuevoMail = document.getElementById('emailModificar').value;
            const nuevoTelefono = document.getElementById('telefono_mod').value;
            const nuevoRol = document.getElementById('rol_mod').value;

            // Objeto con los datos a enviar al servidor
            const datosActualizados = {
                nombre: nuevoNombre,
                apellido: nuevoApellido,
                password: nuevaContraseña,
                email: nuevoMail,
                telefono: nuevoTelefono,
                id_rol: nuevoRol
            };

            // solicitud PUT al servidor para actualizar el usuario
            fetch(`http://127.0.0.1:5000/usuarios/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datosActualizados)
            })
                .then(response => {
                    if (response.ok) {
                        // La solicitud se completó con éxito
                        return response.json();
                    } else {
                        // Manejar el error de respuesta del servidor
                        console.error('Error al actualizar los datos:', response.status);
                        alert('Error al actualizar los datos. Intenta nuevamente.');
                    }
                })
                .then(usuarioActualizado => {
                    // Actualizar los datos en la columna correspondiente
                    const columnaActualizada = document.querySelector(`#tablaUsuarios .col-md-4[data-id="${id}"]`);
                    if (columnaActualizada) {
                        columnaActualizada.innerHTML =
                            `<div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Nombre: ${usuarioActualizado.nombre}</h5>
                                    <p class="card-text">ID: ${usuarioActualizado.id}</p>
                                    <p class="card-text">Apellido: ${usuarioActualizado.apellido}</p>
                                    <p class="card-text">Password: ${usuarioActualizado.password}</p>
                                    <p class="card-text">Email: ${usuarioActualizado.email}</p>
                                    <p class="card-text">Teléfono: ${usuarioActualizado.telefono}</p>
                                    <p class="card-text">Rol: ${usuarioActualizado.id_rol}</p>
                                    <a href='#' data-bs-toggle='modal' data-bs-target='#modificarUsuario' onclick='cargarDatosModal(${JSON.stringify(usuarioActualizado)})' class='btn btn-primary'><i class='bi bi-pencil-fill m-1'></i> Editar</a>
                                </div>
                            </div>`;

                        // Cerrar el modal después de la actualización
                        const modal = new bootstrap.Modal(document.getElementById('modificarUsuario'));
                        modal.hide();

                        // Mostrar un mensaje de éxito
                        alert('Usuario actualizado con éxito.');
                    }
                })
        
        }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJopL3" crossorigin="anonymous"></script>
</body>

</html>