{% set include_menu = false %}
{% extends "base.html" %}


{% block additional_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
{% endblock %}
<script src="/static/js/modUser.js" defer></script>
{% block additional_js %}

{% endblock %}




<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<header class="header">

    <a href="#outlet-mont" class="header-promo link-scroll">
        <div class="header-promo__link" role="Alert promo">
            <!-- Ofertas de hasta el 30% -->
        </div>
    </a>

    <!-- Inicio pantalla grande -->
    <div class="large-screen" id="largeScreen">
        <div class="header-search">
            <a class="header-search__logo-link" href="{{ url_for('index') }}">
                <img class="header-search__logo-img" src="/static/img/logo.png" alt="logo">
            </a>

            <div>
                <h2 align='center'>Cuenta de Usuario</h2>
            </div>

            <div class="login">
                <a class="btn-login" href="{{ url_for('login') }}">
                    <img class="btn-login__img" src="/static/img/icons/account_circle_FILL0_wght400_GRAD0_opsz24.svg"
                        alt="">
                    <span class="btn-login__text">Salir</span>
                </a>
            </div>
        </div>

        <nav class="nav-desktop" id="nav-desktop">
            <ul class="menu-desktop">
                <li class="menu-desktop__item"><a href="{{ url_for('configUsuario') }}" class="menu-desktop__link"
                        data-target="info_personal">INFORMACION PERSONAL</a></li>
                <li class="menu-desktop__item"><a href="{{ url_for('compras') }}" class="menu-desktop__link"
                        data-target="mis_compras">MIS COMPRAS</a>
                </li>

            </ul>
        </nav>
    </div>

    <!-- Fin de pantalla grande -->



    <!-- Inicio pantalla pequeña -->

    <div class="small-screen" id="smallScreen">
        <div class="header-search">
            <div class="menu-toggle" id="menuToggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

            <a class="header-search__logo-link" href="#">
                <img class="header-search__logo-img" src="/static/img/logo.png" alt="logo">
            </a>


            <div class="login">
                <a class="btn-login" href="/tamplates/login.html">
                    <img class="btn-login__img" src="/static/img/icons/account_circle_FILL0_wght400_GRAD0_opsz24.svg"
                        alt="">
                </a>
            </div>

        </div>
    </div>
    </div>

    <nav class="nav-burger" id="navBurger">
        <ul class="menu-burger">
            <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="bikes">INFORMACIÓN
                    PERSONAL</a></li>
            <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="components">MIS COMPRAS</a>
        </ul>
    </nav>
    <!-- Fin de pantalla pequeña -->


</header>

<main class="main">

    <div class="container-text">
        <!---------- Inicio Modal Modificar Usuario----------------------------->
        <div class="mt-5 shadow-lg p-3 mb-5 bg-light rounded" id="modificarUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 mb-2" id="staticBackdropLabel">Modificar Usuario</h1>
                    </div>
                    <div class="modal-body">
                        <form id="modificarUserForm" class="" data-bitwarden-watching="1" method="PUT">

                            <div class="form-floating mb-3">
                                <input id="id_modUser" type="hidden" name="id" value="{{ user_info.id }}">
                                <input id="id_rol" type="hidden" name="id_rol" value="{{ user_info.id_rol }}">
                                <div class="form-floating mb-3">
                                    <input type="text" name="nombre" class="form-control rounded-3 border border-secondary border-2" id="nombre_mod"
                                        placeholder="Nombre" onkeyup="validarCampos()" value="{{ user_info.nombre }}" required>
                                    <label for="name">Nombre</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" name="apellido" class="form-control rounded-3 border border-secondary border-2" id="apellido_mod"
                                        placeholder="Apellido" value="{{ user_info.apellido }}" onkeyup="validarCampos()" required>
                                    <label for="lastname">Apellido</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" name="password" class="form-control rounded-3 border border-secondary border-2"
                                        id="passwordModificar" placeholder="Contraseña" value="{{ user_info.password }}"
                                        onkeyup="validarPassModal('passwordModificar', 'buttonModificar', 'mensajeAlertaUpdate')"
                                        onkeyup="validarCampos()" required>
                                    <label for="password">Contraseña</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input disabled type="text" name="email" class="form-control rounded-3 border border-secondary border-2" id="emailModificar"
                                        placeholder="Email" value="{{ user_info.email }}"
                                        onkeyup="validarEmailModal('emailModificar', 'buttonModificar', 'mensajeAlertaUpdate')"
                                        onkeyup="validarCampos()">
                                    <label for="tel">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" name="telefono" class="form-control rounded-3 border border-secondary border-2" id="telefono_mod"
                                        placeholder="Teléfono" value="{{ user_info.telefono }}" onkeyup="validarCampos()" required">
                                    <label for="tema">Teléfono</label>
                                </div>
                              
                            </div>
                            <!-- mensaje desde loginApp.js -->
                            <div id="mensajeAlertaUpdate"></div>
                            <!-- Mensaje de confirmación desde listarUsuarios.js -->
                            <div id="mensajeUpdateUser" class="alert alert-success mt-3" style="display: none;">
                            </div>
                            <button id="buttonModificarUser" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
                                type="submit">Enviar
                                Cambios</button>
                            <small class="text-body-secondary">Al hacer clic en "Enviar Cambios", acepta los términos de
                                uso.</small>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('userPage') }}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</a>
                    </div>
                </div>
            </div>
        </div>
        <!---------Fin Modal Modificar Usuario---------------------------------------->



    </div>



</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>