{% extends "base.html" %}


<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-text">
    <h1 class="h1-text">Preguntas Frecuentes</h1>
    <section class="section-text">
      <h2 class="h2-text">Envíos y Entrega</h2>
      <article class="article-text">
        <h3 class="h3-text">¿Cuáles son las opciones de envío?</h3>
        <p class="p-text">Ofrecemos tres opciones de envío: <br>
          1. Envío estándar: Entrega en 2-5 días hábiles.<br>
          2. Envío express: Entrega en 24 horas.<br>
          3. Retiro en tienda: Puede recoger su pedido en nuestras tiendas en diferentes ciudades.
        </p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Cuánto cuesta el envío?</h3>
        <p class="p-text">El costo de envío varía según la opción elegida. El envío estándar es gratuito para pedidos
          superiores a $50.000. Para envío express, consulte las tarifas al realizar el pedido.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Cómo puedo rastrear mi pedido?</h3>
        <p class="p-text">Una vez que su pedido sea enviado, recibirá un correo electrónico con un enlace de seguimiento
          para que pueda rastrear su envío en tiempo real.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Qué hago si mi pedido no llega a tiempo?</h3>
        <p class="p-text">Si su pedido no llega en el plazo previsto, contáctenos de inmediato y resolveremos la
          situación. Su satisfacción es nuestra prioridad.</p>
      </article>
    </section>

    <section class="section-text">
      <h2 class="h2-text">Servicio Técnico</h2>
      <article class="article-text">
        <h3 class="h3-text">¿Ofrecen servicio de reparación de bicicletas?</h3>
        <p class="p-text">Sí, contamos con un equipo de técnicos experimentados que pueden reparar y personalizar su
          bicicleta según sus necesidades. Desde ajustes menores hasta reparaciones completas, estamos aquí para
          ayudarle.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Cuál es el tiempo de reparación promedio?</h3>
        <p class="p-text">El tiempo de reparación varía según la complejidad del trabajo, pero generalmente, las
          reparaciones menores se completan en 1-2 días y las reparaciones importantes pueden tomar hasta una semana.
        </p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Necesito programar una cita para el servicio técnico?</h3>
        <p class="p-text">Sí, recomendamos programar una cita para asegurar que podamos atenderle de manera eficiente.
          Puede hacerlo en línea o llamando a nuestra tienda en su ciudad.</p>
      </article>
    </section>
  </div>

</main>

{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>