{% extends "base.html" %}

<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-text">
    <section class="section-text">
      <h2 class="h2-text">Financiamientos y Créditos</h2>
      <article class="article-text">
        <h3 class="h3-text">¿Qué opciones de financiamiento ofrecen?</h3>
        <p class="p-text">Ofrecemos diversas opciones de financiamiento para que pueda adquirir su bicicleta sin
          problemas. Puede optar por:
          - Crédito a plazos: Pague su bicicleta en cómodas cuotas mensuales con tasas de interés competitivas.
          - Financiamiento sin interés: En ciertos períodos, ofrecemos planes de financiamiento sin cargos de interés.
          - Tarjetas de crédito: Aceptamos diversas tarjetas de crédito para su conveniencia.
        </p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Cómo solicito un crédito o financiamiento?</h3>
        <p class="p-text">Solicitar un crédito es fácil. Puede hacerlo en línea a través de nuestro sitio web o
          visitando una de nuestras tiendas. Nuestro equipo estará encantado de guiarle a través del proceso de
          solicitud y proporcionarle toda la información necesaria.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Cuáles son los requisitos para obtener financiamiento?</h3>
        <p class="p-text">Los requisitos para obtener financiamiento pueden variar según la opción elegida. En general,
          necesitará:
          - Ser mayor de edad.
          - Presentar una identificación válida.
          - Comprobante de ingresos.
          - Historial crediticio en algunos casos.
        </p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Puedo obtener financiamiento si tengo mal crédito?</h3>
        <p class="p-text">Sí, en algunos casos, aún puede obtener financiamiento incluso si tiene un historial
          crediticio menos favorable. Contáctenos para discutir sus opciones y encontrar la mejor solución para usted.
        </p>
      </article>
    </section>
  </div>

</main>

{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>