<footer class="footer" id="footer">
  <section class="footer-info">
    <div class="help">
      <h3 class="info__title">Ayuda</h3>
      <ul class="info-list">
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('help') }}">Atención al cliente</a></li>
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('faq') }}">Preguntas frecuentes</a></li>
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('shipping') }}">Envíos</a></li>
      </ul>
    </div>
    <div class="services">
      <h3 class="info__title">Servicios</h3>
      <ul class="info-list">
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('cita') }}">Cita previa Taller</a></li>
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('size') }}">Talla de bicicleta</a></li>
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('financiamiento') }}">Financia tus compras</a>
        </li>
      </ul>
    </div>
    <div class="about">
      <h3 class="info__title">Sobre biciTienda</h3>
      <ul class="info-list">
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('stores') }}">Nuestras tiendas</a></li>
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('trabajo') }}">Trabaja con nosotros</a></li>
        <li class="info-list__li"><a class="info-list__link" href="{{ url_for('contacto') }}">Contacta con nosotros</a></li>
      </ul>
    </div>
    <div class="social">
      <h3 class="info__title">Síguenos en nuestras redes</h3>
      <ul class="info-list info-list--social">
        <li class="info-list__li"><a class="info-list__link" href="https://www.facebook.com/"><img
              class="social-media-icons" src="/static/img/icons/facebook-f.svg" alt=""></a></li>
        <li class="info-list__li"><a class="info-list__link" href="https://www.youtube.com/"><img
              class="social-media-icons" src="/static/img/icons/youtube.svg" alt=""></a></li>
        <li class="info-list__li"><a class="info-list__link" href="https://twitter.com/"><img class="social-media-icons"
              src="/static/img/icons/x-twitter.svg" alt=""></a></li>
        <li class="info-list__li"><a class="info-list__link" href="https://www.instagram.com/"><img
              class="social-media-icons" src="/static/img/icons/instagram.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="payment">
      <h3 class="info__title">Formas de pago</h3>
      <ul class="info-list info-list--social info-list--payment">
        <li class="info-list__li"><img class="social-media-icons" src="/static/img/icons/visa.svg" alt=""></li>
        <li class="info-list__li"><img class="social-media-icons" src="/static/img/icons/master.svg" alt=""></li>
        <li class="info-list__li"><img class="social-media-icons" src="/static/img/icons/paypal.svg" alt=""></li>
        <li class="info-list__li"><img class="social-media-icons" src="/static/img/icons/mercado.svg" alt=""></li>
        <li class="info-list__li"><img class="social-media-icons" src="/static/img/icons/pagoFacil.svg" alt=""></li>
      </ul>
    </div>
    <div class="customer-service">
      <div class="customer-container">
        <h3 class="info__title">Atención al cliente</h3>
        <div class="customer-care">
          <p class="customer-care__phone">0800 999 0000</p>
          <p class="customer-care__schedule">LU-VI de 09:00 a 18:00</p>
          <p class="customer-care__schedule">SA de 9:00 a 13:00</p>
          <p class="customer-care__email">contacto@bicitienda.com.ar</p>
        </div>
      </div>
    </div>
  </section>
  <section class="legal">
    <div class="legal__links">
      <a href="{{ url_for('legal') }}#privacidad">
        <h5 class="legal__h5">PRIVACIDAD</h5>
      </a>
      <a href="./pages/legal.html#terminos">
        <h5 class="legal__h5">TERMINOS & CONDICIONES DE COMPRA</h5>
      </a>
      <a href="./pages/legal#condiciones.html">
        <h5 class="legal__h5">CONDICIONES DE USUARIO</h5>
      </a>
    </div>

    <h6 class="legal__h6">
      © 2023 biciTienda S.A. - Todos los derechos reservados.
    </h6>
  </section>
</footer>