{% extends "base.html" %}

<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-text">
    <h1 class="h1-text">Atención al Cliente</h1>

    <section class="section-text">
      <h2 class="h2-text">¿Cómo podemos ayudarte?</h2>
      <article class="article-text">
        <h3 class="h3-text">Contacto y Soporte</h3>
        <p class="p-text">Estamos aquí para ayudarte. Puedes comunicarte con nuestro equipo de atención al cliente por
          teléfono o correo electrónico para obtener asistencia con tus consultas, pedidos o problemas técnicos.
          Estamos disponibles de lunes a viernes, de 9:00 a 18:00.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Preguntas Frecuentes</h3>
        <p class="p-text">Antes de contactarnos, te recomendamos consultar nuestra sección de Preguntas Frecuentes.
          Allí encontrarás respuestas a las consultas más comunes relacionadas con pedidos, envíos, garantías y más.
        </p>
      </article>
    </section>

    <section class="section-text">
      <h2 class="h2-text">Información de Contacto</h2>
      <article class="article-text">
        <h3 class="h3-text">Teléfono</h3>
        <p class="p-text">Para asistencia telefónica, llámanos al +123 456 7890. Nuestro equipo estará encantado de
          ayudarte con tus consultas y problemas.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Correo Electrónico</h3>
        <p class="p-text">Envía un correo electrónico a info@tutiendadebicicletas.com para consultas generales. Si
          tienes preguntas específicas sobre un pedido, incluye el número de pedido en tu correo electrónico.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Visítanos en Tienda</h3>
        <p class="p-text">También puedes visitar una de nuestras tiendas en diferentes ciudades. Nuestro personal
          estará encantado de ayudarte de manera presencial.</p>
      </article>
    </section>

    <section class="section-text">
      <h2 class="h2-text">Garantía y Devoluciones</h2>
      <article class="article-text">
        <h3 class="h3-text">Garantía de Productos</h3>
        <p class="p-text">Todos nuestros productos están respaldados por una garantía de satisfacción. Si tienes
          problemas con tu compra, contáctanos y resolveremos el problema lo antes posible.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Política de Devoluciones</h3>
        <p class="p-text">Si necesitas devolver un producto, visita nuestra página de Política de Devoluciones para
          obtener información detallada sobre cómo proceder. Nuestro objetivo es asegurarnos de que estés satisfecho
          con tu compra.</p>
      </article>
    </section>
  </div>

</main>
{% endblock %}

<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>