{% extends "base.html" %}

<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-text">
    <h1 class="h1-text">Información Legal</h1>

    <a id="privacidad" class="super-margen"></a>
    <section class="section-text">
      <h2 class="h2-text">Política de Privacidad</h2>
      <article class="article-text">
        <h3 class="h3-text">¿Cómo protegemos su privacidad?</h3>
        <p class="p-text">En biciTienda, nos tomamos la privacidad en serio. Nuestra Política de Privacidad detalla cómo
          recopilamos, utilizamos y protegemos su información personal. Puede estar seguro de que sus datos están
          seguros con nosotros.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Cookies y Tecnologías de Rastreo</h3>
        <p class="p-text">Utilizamos cookies y tecnologías de rastreo para mejorar su experiencia en nuestro sitio web.
          Nuestra Política de Privacidad explica cómo y por qué lo hacemos, así como sus opciones de control.</p>
      </article>
    </section>

    <a id="terminos" class="super-margen"></a>
    <section class="section-text">
      <h2 class="h2-text">Avisos Legales</h2>
      <article class="article-text">
        <h3 class="h3-text">Términos y Condiciones</h3>
        <p class="p-text">Los términos y condiciones de uso de nuestro sitio web se detallan en esta sección. Lea
          atentamente estos términos antes de utilizar nuestro sitio, ya que su uso implica la aceptación de los mismos.
        </p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Derechos de Autor</h3>
        <p class="p-text">Todo el contenido y materiales presentes en nuestro sitio web están protegidos por derechos de
          autor. No se permite la reproducción sin autorización previa.</p>
      </article>
    </section>

    <a id="condiciones" class="super-margen"></a>
    <section class="section-text">
      <h2 class="h2-text">Condiciones de Uso</h2>
      <article class="article-text">
        <h3 class="h3-text">Uso Aceptable</h3>
        <p class="p-text">El uso de nuestro sitio web está sujeto a ciertas condiciones. Asegúrese de cumplir con
          nuestras políticas y directrices para garantizar una experiencia segura y positiva.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">Exclusión de Responsabilidad</h3>
        <p class="p-text">Este sitio web se proporciona "tal cual". No asumimos responsabilidad por cualquier pérdida o
          daño derivado de su uso. Lea nuestras condiciones de uso para obtener más detalles.</p>
      </article>
    </section>
  </div>


</main>
{% endblock %}

<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>