{% extends "base.html" %}

<!-- Css -->
{% block additional_css %}
<link rel="stylesheet" href="/static/css/login-styles.css">
{% endblock %}
<!-- JavaScript  -->
{% block additional_js %}
<script src="/static/js/login.js" defer></script>
{% endblock %}

<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-login">
    <h2 class="login__title">Ingresar</h2>
    <form action="" class="login__form">
      <label for="user" class="login__label">Usuario</label>
      <input type="email" name="user" id="user" class="login__input"
        onkeyup="validarUserEmail('user', 'continueButtonLogin', 'mensaje-login')" required>

      <label for="pass" class="login__label">Contraseña</label>
      <div class="login-pass">
        <input type="password" name="pass" id="passLogin" class="login__input login__input--pass pass"
          onkeyup="validarPass('passLogin', 'continueButtonLogin', 'mensaje-login')" required>
        <span class="input-group-text" id="basic-addon1">
          <a href="#">
            <img src="/static/img/icons/eye-slash-solid.svg" class="eye-fill icon-eye" id="icon-eye"
              onclick="mostrarPass(0)"></img>
          </a>
        </span>
      </div>

      <div class="container-remember">
        <input type="checkbox" class="remember" id="remember">
        <label for="remember" class="login__label login__label--check">Recordar usuario</label>
      </div>

      <!-- mensaje desde js alert -->
      <div id="mensaje-login"></div>
      <!-- se cambio a type button para que no envie el form -->
      <button disabled type="button" class="btn-disabled" id="continueButtonLogin"
        onclick="errorPage()">Continuar</button>
      <a href="{{url_for('message')}}" class="forgot">Olvidaste tu contraseña?</a>
    </form>

    <!-- Inicio de linea separadora -->
    <div class="login-separador">
      <div class="login-line"></div>
      <p class="text-separador">También</p>
      <div class="login-line"></div>
    </div>
    <!-- Fin de linea separadora -->


    <!-- Inicio de login alternativo -->
    <div class="login-icons">
      <ul class="list-login">
        <li class="list-login__li">
          <a class="list-login__link" href="https://www.google.com/">
            <img class="list-login__icons" src="/static/img/icons/google.svg" alt="Icono de Google">
          </a>
        </li>

        <li class="list-login__li">
          <a class="list-login__link" href="https://www.facebook.com/">
            <img class="list-login__icons" src="/static/img/icons/facebook.svg" alt="Icono de Facebook">
          </a>
        </li>

        <li class="list-login__li">
          <a class="list-login__link" href="https://www.apple.com/">
            <img class="list-login__icons" src="/static/img/icons/apple.svg" alt="Icono de apple">
          </a>
        </li>
      </ul>
    </div>
    <!-- Fin de login alternativo -->
    <span class="sing-up">No tienes una cuenta? <a href="{{url_for('singUp')}}" class="sing-up__link">Crea una!</a> </span>
  </div>
 
</main>
{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>