<header class="header">

  <a href="#outlet-mont" class="header-promo link-scroll">
    <div class="header-promo__link" role="Alert promo">
      Ofertas de hasta el 30%
    </div>
  </a>

  <!-- Inicio pantalla grande -->
  <div class="large-screen" id="largeScreen">
    <div class="header-search">
      <a class="header-search__logo-link" href="{{ url_for('index') }}">
        <img class="header-search__logo-img" src="/static/img/logo.png" alt="logo">
      </a>

      <div class="header-form search-bar" id="search-bar-1">
        <input class="header-form__search-box" id="search-input-1" type="search"
          placeholder="Encuentra lo que necesitas">
        <button class="header-form__submit" type="submit" onclick="searchProducts()">
          <img class="header-form__icon" src="/static/img/icons/icons8-lupa-50.png" alt="search">
        </button>
      </div>

      <div class="login">
        <a class="btn-login" href="{{ url_for('login') }}">
          <img class="btn-login__img" src="/static/img/icons/account_circle_FILL0_wght400_GRAD0_opsz24.svg" alt="">
          <span class="btn-login__text">Ingresar</span>
        </a>
      </div>
    </div>

    <nav class="nav-desktop" id="nav-desktop">
      <ul class="menu-desktop">
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="bikes">BICICLETAS</a></li>
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="components">COMPONENTES</a>
        </li>
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="equipment">EQUIPAMIENTO</a>
        </li>
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="used">USADAS</a></li>
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="outlet">OUTLET</a></li>
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="services">SERVICIOS</a>
        </li>
        <li class="menu-desktop__item"><a href="#" class="menu-desktop__link" data-target="contactos">CONTACTOS</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Fin de pantalla grande -->



  <!-- Inicio pantalla pequeña -->

  <div class="small-screen" id="smallScreen">
    <div class="header-search">
      <div class="menu-toggle" id="menuToggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

      <a class="header-search__logo-link" href="#">
        <img class="header-search__logo-img" src="/static/img/logo.png" alt="logo">
      </a>

      <div class="header-search__right">
        <a class="header-form__submit" id="searchIcon">
          <img class="header-form__icon" src="/static/img/icons/icons8-lupa-50.png" alt="search">
        </a>

        <div class="login">
          <a class="btn-login" href="/tamplates/login.html">
            <img class="btn-login__img" src="/static/img/icons/account_circle_FILL0_wght400_GRAD0_opsz24.svg" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>

  <!-- boton cerrar busqueda -->

  <div class="search-2" id="search-bar-2">
    <div class="header-form  search-input-2">
      <input class="header-form__search-box" id="search-input-2" type="search" placeholder="Encuentra lo que necesitas">
      <button class="header-form__submit" id="searchClose" type="submit" onclick="searchProducts()">
        <img class="header-form__icon" src="/static/img/icons/close-icon.png" alt="search">
      </button>
    </div>
  </div>


  <nav class="nav-burger" id="navBurger">
    <ul class="menu-burger">
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="bikes">BICICLETAS</a></li>
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="components">COMPONENTES</a>
      </li>
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="equipment">EQUIPAMIENTO</a>
      </li>
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="used">USADAS</a></li>
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="outlet">OUTLET</a></li>
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="services">SERVICIOS</a></li>
      <li class="menu-burger__item"><a href="#" class="menu-burger__link" data-target="contactos">CONTACTOS</a></li>
    </ul>
  </nav>
  <!-- Fin de pantalla pequeña -->

  <!-- Inicio de submenu -->
  <div class="options" id="bikes">
    <h2 class="options-h2">BICICLETAS</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="#montanas" class="options__link link-scroll">Montaña</a></li>
      <li class="options__item"><a href="#urbanas" class="options__link link-scroll">Urbanas</a></li>
      <li class="options__item"><a href="#ebikes" class="options__link link-scroll">eBikes</a></li>
      <li class="options__item"><a href="#kids" class="options__link link-scroll">Niños</a></li>
    </ul>
  </div>
  <div class="options" id="components">
    <h2 class="options-h2">COMPONENTES</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="#asientos" class="options__link link-scroll">Asientos</a></li>
      <li class="options__item"><a href="#pedales" class="options__link link-scroll">Pedales</a></li>
      <li class="options__item"><a href="#manubrios" class="options__link link-scroll">Manubrios</a></li>
    </ul>
  </div>
  <div class="options" id="equipment">
    <h2 class="options-h2">EQUIPAMIENTO</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="#cascos" class="options__link link-scroll">Cascos</a></li>
      <li class="options__item"><a href="#luces" class="options__link link-scroll">Luces</a></li>
      <li class="options__item"><a href="#computadoras" class="options__link link-scroll">Computadoras</a></li>
    </ul>
  </div>
  <div class="options" id="used">
    <h2 class="options-h2">USADAS</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="#usadas-mont" class="options__link link-scroll">Usadas de Montaña</a></li>
      <li class="options__item"><a href="#usadas-urb" class="options__link link-scroll">Usadas Urbanas</a></li>
      <li class="options__item"><a href="#usadas-ebikes" class="options__link link-scroll">Usadas eBikes</a></li>
      <li class="options__item"><a href="#usadas-kids" class="options__link link-scroll">Usadas Niños</a></li>
    </ul>
  </div>
  <div class="options" id="outlet">
    <h2 class="options-h2">OUTLET</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="#outlet-mont" class="options__link link-scroll">Bicicletas de Montaña</a></li>
      <li class="options__item"><a href="#outlet-urb" class="options__link link-scroll">Bicicletas Urbanas</a></li>
      <li class="options__item"><a href="#outlet-acce" class="options__link link-scroll">Accesorios</a></li>
    </ul>
  </div>
  <div class="options" id="services">
    <h2 class="options-h2">SERVICIOS</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="#servicios" class="options__link link-scroll">Servicio Técnico</a></li>
      <li class="options__item"><a href="#serv-pers" class="options__link link-scroll">Personalización de bicicletas</a>
      </li>
      <li class="options__item"><a href="#serv-gome" class="options__link link-scroll">Gomería</a></li>
    </ul>
  </div>
  <div class="options" id="contactos">
    <h2 class="options-h2">CONTACTOS</h2>
    <ul class="options-menu options-menu--bicicletas">
      <li class="options__item"><a href="{{ url_for('stores') }}" class="options__link">Nuestras Tiendas</a></li>
      <li class="options__item"><a href="{{ url_for('cita') }}" class="options__link">Servicios Turnos</a></li>
      <li class="options__item"><a href="#footer" class="options__link link-scroll">Ayuda</a></li>
      <li class="options__item"><a href="{{url_for('contacto')}}" class="options__link">Contacta con Nosotros</a></li>
    </ul>
  </div>
</header>