{% extends "base.html" %}

<!-- Css -->
{% block additional_css %}
<link rel="stylesheet" href="/static/css/login-styles.css">
{% endblock %}
<!-- JavaScript  -->
{% block additional_js %}
<script src="/static/js/login.js" defer></script>
{% endblock %}

<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="message" style="text-align: center; margin: 100px auto;">
    <h2 style="color: dimgrey; margin-bottom: 20px;">En este momento no podemos procesar la operación.</h2>
    <h3>Continúa buscando tu futura bici, en biciTienda.</h3>
  </div>

</main>
{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>