{% extends "base.html" %}


<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-text">
    <section class="section-text">
      <h2 class="h2-text">Envíos y Entrega</h2>
      <article class="article-text">
        <h3 class="h3-text">¿Cuáles son los plazos de entrega?</h3>
        <p class="p-text">Los plazos de entrega varían según la ubicación y el tipo de envío:
          - Envío estándar: 2-5 días hábiles.
          - Envío express: Entrega en 24 horas.
          - Retiro en tienda: Puede recoger su pedido en nuestras tiendas en diferentes ciudades al día siguiente.
        </p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Cómo se calcula el costo de envío?</h3>
        <p class="p-text">El costo de envío se calcula en función de la distancia y el peso del pedido. El envío
          estándar es gratuito para pedidos superiores a $50. Para envío express, consulte las tarifas al realizar el
          pedido.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Qué áreas cubrimos con el servicio de envío?</h3>
        <p class="p-text">Actualmente, ofrecemos envío a todo el país. Puede verificar la disponibilidad de envío a su
          ubicación durante el proceso de compra.</p>
      </article>
      <article class="article-text">
        <h3 class="h3-text">¿Qué sucede si mi pedido llega dañado?</h3>
        <p class="p-text">Si su pedido llega dañado, contáctenos de inmediato y proporcionaremos una solución. Puede
          optar por un reembolso o el reenvío del producto dañado.</p>
      </article>
    </section>
  </div>

</main>


{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>