{% extends "base.html" %}

<!-- ----------------------------------------------------- INICIO MAIN ------------------------------------- -->
{% block main_content %}
<main class="main">

  <div class="container-text">
    <h1 class="h1-text">Calcular Talla de Bicicleta</h1>

    <section class="section-text">
      <h2 class="h2-text">¿Cómo Calcular la Talla de tu Bicicleta?</h2>
      <article class="article-text">
        <p class="p-text">La elección de la talla correcta de bicicleta es esencial para garantizar un viaje cómodo y
          seguro. Sigue estos consejos para calcular la talla adecuada para ti:</p>
      </article>

      <div class="marco-tabla">
        <table class="table-text">
          <tr class="tr-text">
            <th class="th-text">Altura del Ciclista</th>
            <th class="th-text">Talla de Bicicleta Recomendada</th>
          </tr class="tr-text">
          <tr>
            <td class="td-text">150 cm - 165 cm</td>
            <td class="td-text">Pequeña <strong>(S)</strong></td>
          </tr>
          <tr class="tr-text">
            <td class="td-text">165 cm - 175 cm</td>
            <td class="td-text">Mediana <strong>(M)</strong></td>
          </tr>
          <tr class="tr-text">
            <td class="td-text">175 cm - 185 cm</td>
            <td class="td-text">Grande <strong>(L)</strong></td>
          </tr>
          <tr class="tr-text">
            <td class="td-text">Más de 185 cm</td>
            <td class="td-text">Extra Grande <strong>(XL)</strong></td>
          </tr>
        </table>
      </div>

      <article class="article-text">
        <p class="p-text">Estas recomendaciones son generales. La talla de tu bicicleta también dependerá de tus
          preferencias personales y del tipo de bicicleta que desees. No dudes en consultar con nuestro equipo de
          expertos para obtener asesoramiento personalizado.</p>
      </article>
    </section>
  </div>


</main>

{% endblock %}
<!-- ----------------------------------------------------- FIN MAIN ------------------------------------- -->

</html>